.album_toggle {
	display:inline-block;
	border-radius: 50%;
	background-color: grey;
	width: 14px;
	height: 14px;
	text-align: center;
	line-height:1;
	font-size:14px;
}

.album_toggle.open {
	background-color: darkgreen;
}

.album_toggle.open::before {
	content: "\FF0B";
	font-size:14px;
	font-weight:bold;
	color: white;
}


.album_toggle.close {
	background-color: darkred;
}

.album_toggle.close::before {
	content: "\274C";
	font-size:12px;
	font-weight:bold;
	color: white;
}